Repository cs130-w22/Group-A3, pull requests merged in 2022-03, with the labels that each got.

#64 Finish assignment creation endpoint
  backend/README.md
  backend/handler/assignment.go
Labels: backend, documentation

#70 Various code quality refactors for login/creation experience.
  frontend/src/AccountCreation/CreateAccount.tsx
  frontend/src/AccountCreation/SignUpForm.tsx
  frontend/src/AccountCreation/SignUpStudent.tsx
  frontend/src/App.tsx
  frontend/src/Login.tsx
Labels: frontend

#68 Migrate database to SQLite.
  backend/.gitignore
  backend/Dockerfile
  backend/Makefile
  backend/README.md
  backend/go.mod
  backend/go.sum
  backend/handler/assignment.go
  backend/handler/class.go
  backend/handler/class_test.go
  backend/handler/user.go
  backend/main.go
  backend/schemas/0-reset.sql
  backend/schemas/1-accounts.sql
  backend/schemas/1-init.sql
  backend/schemas/2-assignments.sql
  backend/schemas/migrations.go
Labels: backend

#65 Krashanoff/websockets
  backend/README.md
  backend/go.mod
  backend/go.sum
  backend/grading/parser.go
  backend/grading/parser_test.go
  backend/grading/runner.go
  backend/grading/types.go
  backend/handler/assignment.go
  backend/handler/class.go
  backend/handler/context.go
  backend/main.go
  backend/schemas/0-reset.sql
  backend/schemas/2-assignments.sql
  frontend/package.json
  frontend/src/Results.tsx
  frontend/yarn.lock
Labels: backend, documentation

#72 Drop logged-in user by default.
  backend/README.md
  backend/handler/class.go
Labels: backend

#71 Add GET /class/me endpoint
  backend/README.md
  backend/handler/user.go
  backend/main.go
Labels: backend

#59 Preetha/add user to class
  backend/handler/class.go
  backend/schemas/1-accounts.sql
Labels: backend

#74 Add a dummy data creation script. Fix reset schema.
  backend/demo.sh
  backend/schemas/0-reset.sql
Labels: backend, documentation

#73 QOL for frontend, information-rich landing.
  backend/handler/class.go
  frontend/.eslintrc.json
  frontend/src/AccountCreation/SignUpForm.tsx
  frontend/src/App.tsx
  frontend/src/Me.tsx
  frontend/src/Modal/CreateClassModal.tsx
  frontend/src/Modal/JoinClassModal.tsx
  frontend/src/api.ts
Labels: bug, frontend

#81 Polish views, improve UX
  .gitignore
  Makefile
  backend/README.md
  backend/grading/grading_test.go
  backend/grading/parser.go
  backend/grading/parser_test.go
  backend/grading/runner.go
  backend/handler/assignment.go
  backend/handler/class.go
  backend/testscript/driver.sh
  demo.sh
  example/demo.sh
  example/grade_assignment_one.sh
  example/main.go
  example/test.tar.gz
  frontend/README.md
  frontend/src/App.tsx
  frontend/src/Assignment.tsx
  frontend/src/Card/AssignmentCard.tsx
  frontend/src/Card/ClassCard.tsx
  frontend/src/CreateAccount/CreateAccount.css
  frontend/src/CreateAccount/CreateAccount.tsx
  frontend/src/CreateAccount/SignUpForm.tsx
  frontend/src/Login.tsx
  frontend/src/Me.tsx
  frontend/src/Modal/UploadSubmissionModal.tsx
  frontend/src/Results.tsx
  frontend/src/api.ts
Labels: backend, frontend
