Repository cs130-w22/Group-A3, pull requests merged in 2022-02, with the labels that each got.

#48 Add CreateInvite endpoint
  backend/go.mod
  backend/go.sum
  backend/handler/class.go
  backend/handler/class_test.go
  backend/schemas/2-accounts.sql
Labels: backend

#45 Add a very simple CLI to the backend.
  backend/main.go
Labels: backend

#39 Refine assignment view
  frontend/src/AssignmentView/AssignmentView.tsx
  frontend/src/AssignmentView/ProfessorAssignmentView.tsx
  frontend/src/AssignmentView/StudentAssignmentView.tsx
Labels: frontend

#50 jonathan-davies/hookup-login-with-backend
  .gitignore
  backend/__pycache__/auth.cpython-310.pyc
  frontend/src/AccountCreation/CreateAccount.tsx
  frontend/src/AccountCreation/SignUpProfessor.tsx
  frontend/src/AccountCreation/SignUpStudent.tsx
  frontend/src/ClassView/ClassView.tsx
Labels: frontend

#62 Add API bindings on frontend.
  backend/main.go
  frontend/src/api.ts
Labels: frontend, documentation

#63 Implement grading subsystem on backend.
  backend/README.md
  backend/__pycache__/auth.cpython-310.pyc
  backend/grading/README.md
  backend/grading/parser.go
  backend/grading/runner.go
  backend/grading/types.go
  backend/handler/assignment.go
  backend/handler/context.go
  backend/main.go
  frontend/src/api.ts
Labels: backend

#58 Add DropStudent endpoint.
  backend/README.md
  backend/handler/class.go
  backend/handler/context.go
  backend/main.go
  frontend/src/api.ts
Labels: backend, documentation

#61 Add GetAssignment and GetClass handlers.
  backend/README.md
  backend/go.mod
  backend/go.sum
  backend/handler/assignment.go
  backend/handler/class.go
  backend/handler/context.go
  backend/main.go
  backend/schemas/3-assignments.sql
  frontend/src/api.ts
Labels: backend
